/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: azure;
}

main {
    margin-top: 30px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    justify-content: center;
    align-items: center;
    gap: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    font-size: 1.5em;
    font-weight: 700;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#b1 {
    background-color: rgba(231, 195, 159, 0.5);
}

#b1:hover {
    background-color: rgb(226, 193, 160);
}

#b2 {
    background-color: rgba(162, 231, 162, 0.5);
}

#b2:hover {
    background-color: rgb(196, 234, 196);
}

#b3 {
    background-color: rgb(162, 228, 228);
}

#b3:hover {
    background-color: rgb(154, 205, 222);
}

#b4 {
    background-color: rgba(231, 158, 158, 0.6);
}

#b4:hover {
    background-color: rgb(222, 153, 153);
}

div:hover {
    animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
    0% {
        rotate: 0deg;
        translate: 0 0;
    }

    25% {
        rotate: -2deg;
        translate: -5px 0;
    }

    80% {
        rotate: 2deg;
        translate: 5px 0;
    }
}

